/* Variables.scss */


/* colors */

$clr-root: #ffffff;
$clr-base: #000000;

/* breakpoints */

$mobile-breakpoint: 768px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1280px;
$md2-breakpoint: 1440px;
$md3-breakpoint: 1680px;
$xl-breakpoint: 1920px;