.pg-privacyPolicy {
    background: #fff;
    padding: 6vh 10vw;
    .head {
        text-align: center;
        .title {
            font-size: 3.5vh;
            line-height: 3.8vh;
            font-family: 'medium';
            margin-bottom: 4vh;
        }
        .close-btn {
            background: url(../img/close.png) no-repeat 0 0 transparent;
            width: 1.4vw;
            height: 1.4vw;
            display: block;
            position: absolute;
            right: 2.1vh;
            top: 1.4vw;
        }
    }
    .static-cont {
        overflow: auto;
        height: 80vh;
        p {
            margin-bottom: 3vh;
        }
        .title {
            font-size: 20px;
            font-family: 'bold';
            margin: 6vh 0 2vh;
        }
        label {
            font-family: 'medium';
            font-size: 14px;
            margin-bottom: 2vh;
            display: block;
        }
        .lvl1 {
            .item {
                position: relative;
                font-family: 'light';
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 2vh;
                display: block;
                padding-left: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 2px;
                    background: #000000;
                    display: block;
                    left: 0;
                    top: 9px;
                    border-radius: 50%;
                }
                .lvl2 {
                    margin: 2vh 0 6vh;
                    .item {
                        &:before {
                            content: '';
                            background: #b9b9b9;
                        }
                        color: #4e4e4e;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .pg-privacyPolicy {
        padding: 5vh 6vw;
        .static-cont {
            overflow: inherit;
            height: auto;
        }
        .head {
            .close-btn {
                width: 6vw;
                height: 6vw;
                right: 2.1vh;
                top: 5.4vw;
            }
        }
    }
}