// annimation
.fp-viewing-home {
    .anniSlideDown {
        opacity: 0;
        -webkit-animation: anniSlideDown 1s 1s normal;
        animation: anniSlideDown 1s 1s normal;
        animation-fill-mode: forwards;
    }
    .anniSlide {
        opacity: 0;
        -webkit-animation: anniSlide 1s normal;
        animation: anniSlide 1s normal;
        animation-fill-mode: forwards;
        &.anniSlide1 {
            animation-delay: 1.2s;
            -webkit-animation-delay: 1.2s;
        }
        &.anniSlide2 {
            animation-delay: 1.4s;
            -webkit-animation-delay: 1.4s;
        }
        &.anniSlide3 {
            animation-delay: 1.6s;
            -webkit-animation-delay: 1.6s;
        }
        &.anniSlide4 {
            animation-delay: 1.8s;
            -webkit-animation-delay: 1.8s;
        }
        &.anniSlide5 {
            animation-delay: 2s;
            -webkit-animation-delay: 2s;
        }
    }
    .anniScale {
        opacity: 0;
        -webkit-animation: anniScale 1s normal;
        animation: anniScale 1s normal;
        animation-fill-mode: forwards;
        &.scaleRound {
            animation-delay: 0.8s;
            -webkit-animation-delay: 0.8s;
        }
        &.scaleMove1 {
            animation-delay: 2s;
            -webkit-animation-delay: 2s;
            transform-origin: bottom right;
        }
        &.scaleMove2 {
            animation-delay: 2s;
            -webkit-animation-delay: 2s;
            transform-origin: bottom left;
        }
    }
    .anniScaleUp {
        opacity: 0;
        -webkit-animation: anniScaleUp 1.4s normal;
        animation: anniScaleUp 1.4s normal;
        animation-fill-mode: forwards;
        &.scaleUp {
            animation-delay: 1.4s;
            -webkit-animation-delay: 1.4s;
        }
    }
}

.fp-viewing-billme {
    .anniOpac {
        opacity: 0;
        -webkit-animation: anniOpac 1.4s normal;
        animation: anniOpac 1.4s normal;
        animation-fill-mode: forwards;
        &.anniOpac1 {
            animation-delay: 1.5s;
            -webkit-animation-delay: 1.5s;
        }
    }
}

.fp-viewing-team {
    .anniSlideDown {
        opacity: 0;
        -webkit-animation: anniSlideDown2 1s normal;
        animation: anniSlideDown2 1s normal;
        animation-fill-mode: forwards;
        &.anniSlideDown1 {
            animation-delay: 1s;
            -webkit-animation-delay: 1s;
        }
        &.anniSlideDown2 {
            animation-delay: 1.2s;
            -webkit-animation-delay: 1.2s;
        }
        &.anniSlideDown3 {
            animation-delay: 1.4s;
            -webkit-animation-delay: 1.4s;
        }
    }
}

.fp-viewing-vendor-0 {
    .anniWidth {
        width: 0;
        -webkit-animation: anniWidth 8s normal;
        animation: anniWidth 8s normal;
        animation-fill-mode: forwards;
    }
    .anniZoomOut {
        opacity: 0;
        -webkit-animation: anniZoomOut .6s normal;
        animation: anniZoomOut .6s normal;
        animation-fill-mode: forwards;
        &.anniZoomOut1 {
            animation-delay: 1s;
            -webkit-animation-delay: 1s;
        }
        &.anniZoomOut2 {
            animation-delay: 2s;
            -webkit-animation-delay: 2s;
        }
        &.anniZoomOut3 {
            animation-delay: 7s;
            -webkit-animation-delay: 7s;
        }
    }
}

.fp-viewing-vendor-1 {
    .anniOpac {
        opacity: 0;
        -webkit-animation: anniOpac 1.4s normal;
        animation: anniOpac 1.4s normal;
        animation-fill-mode: forwards;
        &.anniOpac1 {
            animation-delay: 1.5s;
            -webkit-animation-delay: 1.5s;
        }
    }
}

.fp-viewing-contact {
    .anniScaleUp {
        opacity: 0;
        -webkit-animation: anniScaleUp 1.4s normal;
        animation: anniScaleUp 1.4s normal;
        animation-fill-mode: forwards;
        &.scaleUp1 {
            animation-delay: 1.5s;
            -webkit-animation-delay: 1.5s;
        }
        &.scaleUp2 {
            animation-delay: 1.6s;
            -webkit-animation-delay: 1.6s;
        }
        &.scaleUp3 {
            animation-delay: 1.7s;
            -webkit-animation-delay: 1.7s;
        }
        &.scaleUp4 {
            animation-delay: 1.8s;
            -webkit-animation-delay: 1.8s;
        }
        &.scaleUp5 {
            animation-delay: 1.9s;
            -webkit-animation-delay: 1.9s;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-billme {
        .anniOpac {
            left: auto;
            right: auto;
            width: 80vw;
            bottom: auto;
            top: 23%;
            z-index: 0;
            opacity: 0.06;
        }
    }
    .bs-sec4b .anniOpac.anniOpac1 {
        display: none;
    }
}

@keyframes anniSlideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes anniSlideDown2 {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes anniSlide {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anniScale1 {
    0% {
        transform: scale(0) translateY(-71%) translateX(-65%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(-71%) translateX(-65%);
        opacity: 1;
    }
}

@keyframes anniScale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes anniZoomOut {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes anniScaleUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes anniOpac {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anniWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .fp-viewing-billme .anniOpac,
    .fp-viewing-vendor-1 .anniOpac {
        opacity: 0.06;
        -webkit-animation: inherit;
        animation: inherit;
        animation-fill-mode: inherit;
    }
}