.btn {
    background: #25c2f4;
    color: $clr-root;
    border-radius: 2vw;
    font-size: 1.2vw;
    line-height: 2.9vh;
    font-family: 'medium';
    text-transform: uppercase;
    border: none;
    padding: 1.1vh 1.8vw;
    box-shadow: 0px 1px 8px #b3b3b3;
    cursor: pointer;
    position: relative;
    transition-duration: 0.8s;
    &.typ-green {
        background: #33e62a;
    }
    &:hover {
        transform: scale(1.2);
    }
    &.anniPulse {
        box-shadow: 0 0 0 0 rgba(#91f38c, .2);
        -webkit-animation: pulse 2s infinite;
        &:hover {
            -webkit-animation: none;
            transform: scale(1);
        }
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .btn {
        font-size: 4vw;
        line-height: 6vh;
        padding: 0vh 9vw;
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(#91f38c, 0);
    }
    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba(#91f38c, 0);
    }
}