body {
    background: #000000;
    &.mainBlur {
        .bs-header,
        main {
            filter: blur(2px);
            -webkit-filter: blur(2px);
        }
    }
}

.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.cm-container {
    width: 90vw;
    margin: 0 5vw;
}

.cm-lg-hidden {
    display: none !important;
}

.cm-bold {
    font-family: 'medium';
}

.cm-sm-hidden {
    display: none !important;
}

.cm-line-break {
    display: block;
}

.blur {
    -webkit-filter: blur(80px);
    filter: blur(80px);
    transition-duration: .5s;
}

.loader {
    background: url(../img/logo.png) no-repeat center center;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.99);
    background-size: 10%;
    transition: all 0.5s ease-in;
    opacity: 1;
    &.hide {
        opacity: 0;
        visibility: hidden;
    }
}

.fp-slidesNav.fp-bottom {
    text-align: center;
}

.year-list .slick-list {
    overflow: initial !important;
}

.fadeOut {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.cm-opaque {
    opacity: 0.5;
}

.fp-viewing-vendor-0,
.fp-viewing-contact {
    .btn {
        box-shadow: 0px 0px 16px -5px #000000;
    }
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    margin: initial;
}

.desktop-hide {
    display: none !important;
}

.mobile-hide {
    display: block !important;
}

@media only screen and (max-width: $mobile-breakpoint) {
    body {
        background: $clr-root;
    }
    .cm-lg-hidden {
        display: block !important;
    }
    .loader {
        background-size: 30%;
    }
    .desktop-hide {
        display: block !important;
    }
    .mobile-hide {
        display: none !important;
    }
}

.spaceOut {
    transition-duration: 0.8s;
    transform: scale(0);
    transform-origin: bottom center;
}

.boingOutDown {
    animation-name: boingOutDown;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.aniZoomOut {
    -webkit-animation: aniZoomOut 1s normal;
    animation: aniZoomOut 1s normal;
    animation-fill-mode: forwards;
}

@keyframes scaleHome {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (min-width: $xl-breakpoint) {
    #fp-nav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li a.active span,
    .fp-slidesNav ul li:hover a.active span {
        height: 18px;
        width: 18px;
    }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span,
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        height: 10px;
        width: 10px;
    }
    .fp-slidesNav.fp-bottom {
        bottom: 3vw;
    }
}