@font-face {
    font-family: 'book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.otf') format('opentype'), url('../fonts/Gotham-Book.svg#HelveticaNeueLTStd-Bd') format('svg');
}

@font-face {
    font-family: 'black';
    src: url('../fonts/GothamBlack.eot');
    src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBlack.woff') format('woff'), url('../fonts/GothamBlack.ttf') format('truetype'), url('../fonts/GothamBlack.otf') format('opentype'), url('../fonts/GothamBlack.svg#HelveticaNeueLTStd-Blk') format('svg');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf') format('truetype'), url('../fonts/GothamBold.otf') format('opentype'), url('../fonts/GothamBold.svg#HelveticaNeueLTStd-Ex') format('svg');
}

@font-face {
    font-family: 'extraLight';
    src: url('../fonts/GothamExtraLight.eot');
    src: url('../fonts/GothamExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamExtraLight.woff') format('woff'), url('../fonts/GothamExtraLight.ttf') format('truetype'), url('../fonts/GothamExtraLight.otf') format('opentype'), url('../fonts/GothamExtraLight.svg#HelveticaNeueLTStd-Hv') format('svg');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/GothamLight.eot');
    src: url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamLight.woff') format('woff'), url('../fonts/GothamLight.ttf') format('truetype'), url('../fonts/GothamLight.otf') format('opentype'), url('../fonts/GothamLight.svg#HelveticaNeueLTStd-Lt') format('svg');
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/GothamMedium.eot');
    src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamMedium.woff') format('woff'), url('../fonts/GothamMedium.ttf') format('truetype'), url('../fonts/GothamMedium.otf') format('opentype'), url('../fonts/GothamMedium.svg#HelveticaNeueLTStd-Th') format('svg');
}

@font-face {
    font-family: 'thin';
    src: url('../fonts/GothamThin.eot');
    src: url('../fonts/GothamThin.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamThin.woff') format('woff'), url('../fonts/GothamThin.ttf') format('truetype'), url('../fonts/GothamThin.otf') format('opentype'), url('../fonts/GothamThin.svg#HelveticaNeueLTStd-Th') format('svg');
}

@font-face {
    font-family: 'ultra';
    src: url('../fonts/GothamUltra.eot');
    src: url('../fonts/GothamUltra.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamUltra.woff') format('woff'), url('../fonts/GothamUltra.ttf') format('truetype'), url('../fonts/GothamUltra.otf') format('opentype'), url('../fonts/GothamUltra.svg#HelveticaNeueLTStd-Th') format('svg');
}