//form
.form-wrap {
    width: 28vw;
    margin: 3vh auto;
    .form-group {
        margin-bottom: 2vh;
        .form-control {
            background: #ffffff;
            width: 100%;
            border: none;
            padding: 0.8vw;
            border-radius: 0.6vw;
            font-size: 1vw;
            color: #000000;
            font-family: 'book';
            resize: none;
            &:focus {
                outline: none;
            }
        }
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000000;
    font-family: 'book';
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #000000;
    font-family: 'book';
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #000000;
    font-family: 'book';
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #000000;
    font-family: 'book';
}

.msgShowing {
    // visibility: hidden;
}

@media screen and (max-width:$mobile-breakpoint) {}