//bs-vendor
.bs-vendor {
    position: absolute;
    top: 20vh;
    right: 10vw;
    bottom: 20vh;
    left: 10vw;
    .title {
        font-size: 3.5vh;
        line-height: 3.7vh;
        color: $clr-root;
        font-family: 'light';
        position: absolute;
        span {
            display: block;
            &.cm-bold {
                text-transform: uppercase;
            }
        }
        &.text1 {
            top: 0;
            left: 0;
        }
        &.text2 {
            bottom: 0;
            left: 20vw;
        }
    }
    .graphic {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        .line,
        .graphic1,
        .graphic2,
        .graphic3 {
            position: absolute;
        }
        .line {
            width: 65vw;
            margin: 0 auto;
            right: 0;
            left: -5.1vw;
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 100%;
            }
        }
        .graphic1 {
            top: 16vh;
            left: 0;
            img {
                width: 17vw;
            }
        }
        .graphic2 {
            top: 11vh;
            left: 35vw;
            img {
                width: 14vw;
            }
        }
        .graphic3 {
            top: 11vh;
            left: auto;
            right: 0;
            img {
                width: 10.8vw;
            }
        }
    }
    .graphicGif {
        position: absolute;
        top: -24vh;
        left: -7vw;
        img {
            width: 88vw;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-vendor {
        right: 5vh;
        left: 5vh;
        top: 10vh;
        bottom: 10vh;
        .title {
            font-size: 2.8vh;
            &.text2 {
                left: 0;
            }
            span {
                &:nth-child(2) {
                    font-size: 2.5vh;
                    line-height: 1.3;
                }
            }
        }
        .graphic {
            overflow: inherit;
            .line {
                transform: rotate(43deg);
                width: 81vw;
            }
            .graphic1 {
                top: 11vh;
                left: -2vw;
                img {
                    width: 28vw;
                }
            }
            .graphic2 {
                top: 34vh;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                img {
                    width: 25vw;
                }
            }
            .graphic3 {
                top: auto;
                bottom: 12vh;
                right: -1vh;
                img {
                    width: 21vw;
                }
            }
        }
    }
}

@media screen and (max-width: $xl-breakpoint) and (min-width: $md3-breakpoint) {
    .bs-vendor {
        .graphic {
            .graphic3 {
                right: 1.2vw;
                img {
                    width: 10.8vw;
                    width: 9vw;
                }
            }
        }
    }
}