// bs-footer
.bs-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0.2vh 1vh;
    text-align: center;
    background: $clr-root;
    color: $clr-base;
    .copyright {
        font-size: 1.8vh;
        line-height: 4.6vh;
        font-weight: 600;
        position: absolute;
        right: 0;
        left: 0;
    }
    .rhs {
        float: right;
        position: relative;
        z-index: 3;
        ul {
            li {
                float: left;
                margin-right: 2vw;
                a {
                    color: $clr-base;
                    font-size: 1.8vh;
                    line-height: 4.6vh;
                    display: inline-block;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-footer {
        // height: 45px;
        .copyright {
            font-size: 1.6vh;
            line-height: 3.6vh;
            position: relative;
        }
        .rhs {
            float: none;
            position: absolute;
            z-index: 3;
            width: 55vw;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;
            top: -4.5vh;
            left: 0;
            right: 0;
            ul {
                li {
                    float: none;
                    display: inline-block;
                    a {
                        color: #ffffff;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $sm-breakpoint) {
    .bs-footer {
        // height: 22px;
    }
}

@media screen and (max-width: $xl-breakpoint) and (min-width: $md3-breakpoint) {
    .bs-footer {
        // bottom: 13px;
        padding: 0.1vh 1vw;
    }
}