//bs-popup
.bs-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    transition: all .3s ease-in;
    transform: scale(0);
    opacity: 0;
    &.active {
        transform: scale(1);
        opacity: 1;
    }
    &:before {
        content: '';
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .popup-wrap {
        position: absolute;
        z-index: 2;
        width: 50vw;
        height: 60vh;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 1px 3px 20px #4e4e4e;
        background: $clr-root;
        .head {
            display: block;
            border-bottom: 1px solid #cccccc;
            padding: 2vh;
            text-align: center;
            position: relative;
            .title {
                font-size: 3.5vh;
                line-height: 3.8vh;
                font-family: 'medium';
            }
            .close-btn {
                background: url(../img/close.png) no-repeat 0 0 transparent;
                width: 1.4vw;
                height: 1.4vw;
                display: block;
                position: absolute;
                right: 2.1vh;
                top: 1.4vw;
                background-size: contain;
            }
        }
        .cont {
            padding: 5vh;
            .join-us-wrap {
                .sec {
                    margin-bottom: 3vh;
                    display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                }
                &.last {
                    margin-bottom: 0;
                }
                .labels {
                    display: inline-block;
                    width: 38%;
                    color: $clr-base;
                    font-family: 'light';
                    font-size: 2.5vh;
                    line-height: 3.3vh;
                    border-right: 3px solid #33e52c;
                    vertical-align: middle;
                    span {
                        display: block;
                        &.big {
                            font-family: 'medium';
                            text-transform: uppercase;
                            font-size: 3vh;
                            line-height: 3.8vh;
                        }
                    }
                }
                .actions {
                    display: inline-block;
                    vertical-align: middle;
                    width: 60%;
                    .form-wrap {
                        width: 20vw;
                    }
                    .act-link {
                        margin: 0 auto;
                        width: 20vw;
                        .android,
                        .ios {
                            margin: 0 1vw;
                            background: $clr-base;
                            display: inline-block;
                            width: 3.8vw;
                            height: 3.8vw;
                            border-radius: 8px;
                            text-align: center;
                            img {
                                margin-top: 1.4vh;
                                width: 58%;
                            }
                        }
                    }
                    .form-wrap {
                        .form-group {
                            .form-control {
                                background: #f2f2f2;
                            }
                        }
                    }
                }
            }
        }
        .act-wrap {
            text-align: center;
        }
        &.lg {
            width: 80vw;
            height: 90vh;
        }
    }
    .static-cont {
        overflow: auto;
        height: 75vh;
        p {
            margin-bottom: 3vh;
        }
        .title {
            font-size: 20px;
            font-family: 'bold';
            margin: 6vh 0 2vh;
        }
        label {
            font-family: 'medium';
            font-size: 14px;
            margin-bottom: 2vh;
            display: block;
        }
        .lvl1 {
            .item {
                position: relative;
                font-family: 'light';
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 2vh;
                display: block;
                padding-left: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 2px;
                    background: #000000;
                    display: block;
                    left: 0;
                    top: 9px;
                    border-radius: 50%;
                }
                .lvl2 {
                    margin: 2vh 0 6vh;
                    .item {
                        &:before {
                            content: '';
                            background: #b9b9b9;
                        }
                        color: #4e4e4e;
                    }
                }
            }
        }
    }
    &.joinUsPopup {
        .popup-wrap {
            height: 59vh;
        }
        .join-us-wrap {
            position: relative;
            .act-wrap {
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-popup {
        .popup-wrap {
            width: 90vw;
            height: 90vh;
            .head {
                .close-btn {
                    width: 4vw;
                    height: 4vw;
                    right: 2.1vh;
                    top: 4.8vw;
                }
            }
            .cont {
                padding: 5vh 2vh;
                .join-us-wrap {
                    text-align: center;
                    .sec {
                        margin-bottom: 5vh;
                        .labels {
                            width: 100%;
                            border: none;
                        }
                        .actions {
                            .act-link {
                                width: 100%;
                                margin-top: 2vh;
                                a {
                                    margin: 0 1vw;
                                    background: #000000;
                                    display: inline-block;
                                    width: 14vw;
                                    height: 14vw;
                                    border-radius: 8px;
                                    text-align: center;
                                }
                                .ios {
                                    img {
                                        margin-top: 1.7vh;
                                        width: 58%;
                                    }
                                }
                            }
                        }
                        &.last {
                            margin-bottom: 0;
                        }
                    }
                    .actions {
                        width: 100%;
                        .form-wrap {
                            width: 100%;
                            .form-control {
                                font-size: 4vw;
                                line-height: 6vw;
                                padding: 2vw 0;
                                text-indent: 4vw;
                            }
                        }
                    }
                }
            }
            &.lg {
                width: 95vw;
                height: 90vh;
            }
            &.typDisclaimer {
                height: 47vh;
            }
        }
        &.joinUsPopup {
            .popup-wrap {
                height: 80vh;
                width: 82vw;
            }
        }
    }
}