// bs-header
.bs-header {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 5vh;
    .logo {
        width: 5vw;
        // height: 5vh;
        display: inline-block;
        .normal {
            display: block;
        }
        .clr {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    .nav {
        position: absolute;
        right: 23%;
        left: 32%;
        top: 23%;
        .list {
            .item {
                display: inline-block;
                margin: 0 1.5vw;
                a {
                    font-size: 1.5vw;
                    line-height: 120%;
                    transition: all .5s ease-in;
                    &:hover {}
                }
                &.active {
                    font-family: 'medium';
                    &:after {
                        content: "";
                        height: 1px;
                        width: 90%;
                        background: $clr-root;
                        display: block;
                        margin: 0.3vh auto 0;
                    }
                }
            }
        }
    }
    .act-wrap {
        display: inline-block;
        float: right;
        position: relative;
        top: 1.5vh;
    }
}

.fp-viewing-billme,
.fp-viewing-team,
.fp-viewing-vendor-1 {
    .bs-header {
        .logo {
            .normal {
                display: none;
            }
            .clr {
                display: block;
            }
        }
        .nav {
            color: $clr-base;
            .list {
                .item {
                    a {
                        color: $clr-base;
                    }
                    &.active {
                        &:after {
                            content: "";
                            background: $clr-base;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-header {
        top: 0;
        padding-top: 0.8vh;
        background: rgba(0, 0, 0, 0.3);
        z-index: 10;
        .logo {
            padding: 0vw;
            width: 10vw;
            position: relative;
            z-index: 4;
        }
        .nav {
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 3;
            transition: all .8s ease-in;
            .menu-btn {
                position: absolute;
                right: 5vw;
                top: 2.6vh;
                z-index: 4;
                span {
                    height: 2px;
                    display: block;
                    margin-bottom: 5px;
                    border-radius: 1px;
                    background: #fff;
                    transition: all .3s ease-in;
                    &:nth-child(1) {
                        width: 4.693vw;
                    }
                    &:nth-child(2) {
                        width: 6.4vw;
                    }
                    &:nth-child(3) {
                        width: 4.17vw;
                    }
                }
            }
            .list {
                transition: all .4s ease-in;
                position: absolute;
                right: -100%;
                left: 100%;
                bottom: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.9);
                z-index: 3;
                padding-top: 50%;
                .item {
                    display: block;
                    margin-bottom: 4vh;
                    padding-left: 20vw;
                    font-family: 'medium';
                    position: relative;
                    transition: all 0.5s ease;
                    a {
                        font-size: 8vw;
                        text-align: left;
                        display: block;
                        text-transform: uppercase;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 45%;
                        transform: translateY(-50%);
                        width: 0vw;
                        height: 3px;
                        transition: all 0.5s ease;
                    }
                    &.active {
                        a {
                            font-size: 10vw;
                        }
                        &:after {
                            width: 15vw;
                            height: 3px;
                            top: 42%;
                        }
                    }
                    &.active,
                    &:focus {
                        transform: translateX(-3vw);
                    }
                }
            }
            &.active {
                position: fixed;
                .menu-btn {
                    top: 2.6vh;
                    right: 6vw;
                    span {
                        transition: all 0.3s ease-in;
                        &:nth-child(1) {
                            transform: rotate(45deg);
                            position: relative;
                            top: 7px;
                            width: 4.693vw;
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            transform: rotate(135deg);
                            top: 3px;
                            width: 4.693vw;
                        }
                    }
                }
                .list {
                    right: 0%;
                    left: 0;
                }
            }
        }
        .act-wrap {
            position: fixed;
            right: 3vw;
            bottom: 12vw;
            top: auto;
            border-radius: 50%;
            overflow: hidden;
            z-index: 2;
            .btn {
                background: url(../img/call.svg) no-repeat center center #25c2f4;
                text-indent: -99999px;
                width: 6vh;
                height: 6vh;
                background-size: 52%;
                padding: 0;
            }
        }
    }
    .fp-viewing-billme,
    .fp-viewing-team,
    .fp-viewing-vendor-1 {
        .bs-header {
            .nav {
                color: $clr-root;
                .list {
                    .item {
                        a {
                            color: $clr-root;
                        }
                        &.active {
                            &:after {
                                content: "";
                                background: $clr-root;
                            }
                        }
                    }
                }
            }
        }
    }
}