//bs-landing
.bs-landing {
    color: $clr-root;
    .lhs {
        width: 50%;
        float: left;
        height: 50vh;
        .title {
            font-size: 2.04375vw;
            font-family: 'medium';
        }
        .subtitle {
            font-family: 'light';
            font-size: 2.04375vw;
            margin: 0 0 9vh 0;
            &:after {
                content: '';
                width: 6vw;
                height: 0.6vh;
                background: #33e52c;
                display: block;
                position: relative;
                top: 4vh;
            }
        }
        .act-btn {
            &.typ-mobile {
                margin: 0 0 10vh 0;
                .btn {
                    padding: 0;
                    box-shadow: none;
                    margin: 0 1vw 0 0;
                    background: rgba(0, 0, 0, 0.1);
                    display: inline-block;
                    width: 3.8vw;
                    height: 3.8vw;
                    border-radius: 8px;
                    text-align: center;
                    img {
                        width: 1.7vw;
                        margin-top: 1.6vh;
                    }
                }
            }
        }
        .note {
            font-size: 1.575vw;
            margin: 0 0 2vh 0;
            display: block;
        }
    }
    .rhs {
        width: 50%;
        float: left;
        height: 50vh;
        position: relative;
        img {
            width: 20vw;
            position: absolute;
        }
        .graphic1 {
            width: 40vw;
            bottom: -9vh;
            left: 2vw;
            z-index: 1;
        }
        .graphic2 {
            width: 17vw;
            left: 14vw;
            bottom: -7.4vh;
            z-index: 4;
        }
        .graphic3 {
            width: 21.3vw;
            left: 0.7vw;
            z-index: 2;
            bottom: -3.4vw;
        }
        .graphic4 {
            width: 22.8vw;
            left: 22.2vw;
            z-index: 2;
            bottom: -14.1vh;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-landing {
        padding-top: 29.6vh;
        height: 70vh;
        overflow: hidden;
        .lhs,
        .rhs {
            width: 100%;
            float: none;
            height: auto;
        }
        .lhs {
            position: relative;
            z-index: 3;
            margin-top: 10vh;
            .title {
                font-size: 5vw;
            }
            .subtitle {
                font-size: 5vw;
                margin: 0 0 8vh 0;
            }
            .act-btn {
                &.typ-mobile {
                    margin: 0 0 3vh 0;
                    .btn {
                        width: 15vw;
                        height: 15vw;
                        margin: 0 1vh 5vh 0;
                        img {
                            width: 6.5vw;
                            margin-top: 2.4vh;
                        }
                    }
                }
            }
            .note {
                font-size: 5vw;
                margin: 0 0 3vh 0;
                span {
                    display: block;
                }
            }
        }
        .rhs {
            position: absolute;
            left: 43vw;
            opacity: 0.2;
            z-index: 0;
            top: 45vh;
            transform: rotate(-49deg);
            .graphic1 {
                width: 77vw;
            }
            .graphic2 {
                width: 42vw;
                left: 14.8vw;
                bottom: -7.4vh;
            }
            .graphic3 {
                width: 50.3vw;
                left: -13.2vw;
                bottom: -8.4vw;
            }
            .graphic4 {
                width: 52.8vw;
                left: 35.8vw;
                bottom: -10.1vh;
            }
        }
    }
}