//bs-team
.bs-team {
    text-align: center;
    margin-top: 0vh;
    .title {
        font-size: 1.9vw;
        line-height: 2vw;
        margin-bottom: 8vh;
        font-family: 'medium';
        color: #000000;
    }
    .mail {
        font-size: 1.9vw;
        line-height: 2vw;
        font-family: 'light';
        margin-bottom: 5vh;
        display: block;
    }
    p {
        width: 56vw;
        margin: 0 auto;
        font-size: 1.40625vw;
        line-height: 1.6vw;
        font-family: 'light';
        opacity: 0.6;
    }
    &.fromwrap {
        .title {
            color: $clr-root;
        }
        .error-cont {
            color: $clr-root;
        }
        .msgShowing {
            color: $clr-root;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-team {
        margin-top: 0vh;
        .title {
            margin-top: 2vh;
            font-size: 4.9vw;
            line-height: 5vw;
            margin-bottom: 1vh;
        }
        p {
            width: 90vw;
            font-size: 4vw;
            line-height: 5vw;
            display: none;
        }
        &.fromwrap {
            .title {
                font-size: 8vw;
                line-height: 10vw;
            }
            .mail {
                font-size: 6vw;
                line-height: 8vw;
                margin-bottom: 2vh;
            }
            .form-wrap {
                width: 100%;
                .form-group {
                    .form-control {
                        font-size: 4vw;
                        line-height: 6vw;
                        padding: 2vw 0;
                        text-indent: 4vw;
                    }
                }
            }
            .error-cont {
                font-size: 4.5vw;
                line-height: 1.2;
            }
            .msgShowing {
                margin-top: 2vh;
            }
        }
    }
}