//bs-sec1
.bs-sec1 {
    background: url(../img/bg.jpg) no-repeat 0 0;
    background-size: cover;
}

.bs-sec4 {
    .bs-sec4a {
        background: url(../img/bg3.jpg) no-repeat 0 0;
        background-size: cover;
        position: relative;
    }
    .bs-sec4b {
        background: $clr-root;
        .fp-controlArrow {
            &.fp-prev {
                border-color: transparent #4f68ed transparent transparent;
            }
            &.fp-next {
                border-color: transparent transparent transparent #4f68ed;
            }
        }
    }
    .fp-controlArrow {
        display: none;
        &.fp-next {
            border-width: 10px 0 10px 12px;
        }
        &.fp-prev {
            border-width: 10px 12px 10px 0;
        }
    }
    .fp-slidesNav {
        left: 49%!important;
        transform: translate3d(-50%, 0, 0);
    }
}

.bs-sec5 {
    background: url(../img/bg2.png) no-repeat 0 0;
    background-size: cover;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .section {
        width: 100%;
        display: block;
        height: auto;
        position: relative;
    }
    .bs-sec1 {
        background-size: 213% 117%;
    }
    .bs-sec4b {
        .bs-billme {
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: $xl-breakpoint) {
    .bs-sec4 {
        .fp-slidesNav {
            left: 48.5% !important;
        }
    }
}