//bs-billme
.bs-billme {
    top: 25vh;
    position: absolute;
    &:after {
        content: '';
        background: url(../img/lines.png) no-repeat 7.8vw 0.6vh transparent;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-size: 81%;
    }
    .mod-desc {
        width: 50%;
        float: left;
        height: 36vh;
        margin: 0;
        .desc {
            overflow: hidden;
            padding: 0 7vw 0 2vw;
            position: relative;
            top: 50%;
            transform: translateY(-80%);
        }
    }
    .center-img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        transform: translateY(-73%) translateX(-54%);
        width: 14vw;
        height: 14vw;
        z-index: 5;
        img {
            width: 100%;
        }
    }
    .cm-container {
        overflow: hidden;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-billme {
        position: relative;
        top: auto;
        margin-top: 8vh;
        .mod-desc {
            width: 100%;
            height: auto;
            display: inline-block;
            float: none;
            vertical-align: middle;
            margin: 2vh 0;
            min-height: 15vh;
            z-index: 2;
            .img-wrap {
                display: inline-block;
                width: 29vw;
                vertical-align: middle;
                float: none;
            }
            .desc {
                display: inline-block;
                padding: 0 7vw 0 2vw;
                position: relative;
                top: -2vh;
                transform: initial;
                vertical-align: middle;
                width: 54%;
                .title {
                    font-size: 5vw;
                }
                p {
                    font-size: 4vw;
                }
            }
            &.reverse {
                .desc {
                    text-align: right;
                    top: 1vh;
                }
            }
            .text-icon {
                width: auto;
                .item {
                    &.reverse {
                        .title {
                            position: relative;
                            bottom: auto;
                            margin-bottom: 3vh;
                        }
                    }
                }
            }
        }
        .center-img {
            left: auto;
            right: -2vw;
            width: 80vw;
            transform: none;
            bottom: -15vh;
            z-index: 0;
            img {
                width: 100%;
            }
        }
    }
}