/* @Project : BILL ME    @Date :7th Nov 2018 */
/* ----------------------------------------------------------- config start -------------------------------------------------------*/
/* Variables.scss */
/* colors */
/* breakpoints */
/* ----------------------------------------------------------- config end -------------------------------------------------------*/
/* ----------------------------------------------------------- element start -------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1.2; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* element.scss */
body {
  background: #ffffff;
  font-size: 16px;
  color: #000000;
  font-family: 'light';
  overflow-x: hidden;
  position: relative; }

p {
  line-height: 1.2;
  font-size: 16px; }

a,
a:hover,
a:focus,
a:active {
  color: #ffffff;
  text-decoration: none;
  outline: none; }

button:focus, button:active {
  outline: none; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

/* ----------------------------------------------------------- element end -------------------------------------------------------*/
/* ----------------------------------------------------------- common start -------------------------------------------------------*/
body {
  background: #000000; }
  body.mainBlur .bs-header,
  body.mainBlur main {
    filter: blur(2px);
    -webkit-filter: blur(2px); }

.cm-not-in-page {
  left: -99999px;
  position: absolute;
  top: -99999px; }

.cm-container {
  width: 90vw;
  margin: 0 5vw; }

.cm-lg-hidden {
  display: none !important; }

.cm-bold {
  font-family: 'medium'; }

.cm-sm-hidden {
  display: none !important; }

.cm-line-break {
  display: block; }

.blur {
  -webkit-filter: blur(80px);
  filter: blur(80px);
  transition-duration: .5s; }

.loader {
  background: url(../img/logo.png) no-repeat center center;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.99);
  background-size: 10%;
  transition: all 0.5s ease-in;
  opacity: 1; }
  .loader.hide {
    opacity: 0;
    visibility: hidden; }

.fp-slidesNav.fp-bottom {
  text-align: center; }

.year-list .slick-list {
  overflow: initial !important; }

.fadeOut {
  opacity: 0;
  transition: all .5s ease-in-out; }

.cm-opaque {
  opacity: 0.5; }

.fp-viewing-vendor-0 .btn,
.fp-viewing-contact .btn {
  box-shadow: 0px 0px 16px -5px #000000; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  margin: initial; }

.desktop-hide {
  display: none !important; }

.mobile-hide {
  display: block !important; }

@media only screen and (max-width: 768px) {
  body {
    background: #ffffff; }

  .cm-lg-hidden {
    display: block !important; }

  .loader {
    background-size: 30%; }

  .desktop-hide {
    display: block !important; }

  .mobile-hide {
    display: none !important; } }
.spaceOut {
  transition-duration: 0.8s;
  transform: scale(0);
  transform-origin: bottom center; }

.boingOutDown {
  animation-name: boingOutDown;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

.aniZoomOut {
  -webkit-animation: aniZoomOut 1s normal;
  animation: aniZoomOut 1s normal;
  animation-fill-mode: forwards; }

@keyframes scaleHome {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@media only screen and (min-width: 1920px) {
  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    height: 18px;
    width: 18px; }

  #fp-nav ul li:hover a span,
  .fp-slidesNav ul li:hover a span,
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    height: 10px;
    width: 10px; }

  .fp-slidesNav.fp-bottom {
    bottom: 3vw; } }
@font-face {
  font-family: 'book';
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.otf") format("opentype"), url("../fonts/Gotham-Book.svg#HelveticaNeueLTStd-Bd") format("svg"); }
@font-face {
  font-family: 'black';
  src: url("../fonts/GothamBlack.eot");
  src: url("../fonts/GothamBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBlack.woff") format("woff"), url("../fonts/GothamBlack.ttf") format("truetype"), url("../fonts/GothamBlack.otf") format("opentype"), url("../fonts/GothamBlack.svg#HelveticaNeueLTStd-Blk") format("svg"); }
@font-face {
  font-family: 'bold';
  src: url("../fonts/GothamBold.eot");
  src: url("../fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.ttf") format("truetype"), url("../fonts/GothamBold.otf") format("opentype"), url("../fonts/GothamBold.svg#HelveticaNeueLTStd-Ex") format("svg"); }
@font-face {
  font-family: 'extraLight';
  src: url("../fonts/GothamExtraLight.eot");
  src: url("../fonts/GothamExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamExtraLight.woff") format("woff"), url("../fonts/GothamExtraLight.ttf") format("truetype"), url("../fonts/GothamExtraLight.otf") format("opentype"), url("../fonts/GothamExtraLight.svg#HelveticaNeueLTStd-Hv") format("svg"); }
@font-face {
  font-family: 'light';
  src: url("../fonts/GothamLight.eot");
  src: url("../fonts/GothamLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamLight.woff") format("woff"), url("../fonts/GothamLight.ttf") format("truetype"), url("../fonts/GothamLight.otf") format("opentype"), url("../fonts/GothamLight.svg#HelveticaNeueLTStd-Lt") format("svg"); }
@font-face {
  font-family: 'medium';
  src: url("../fonts/GothamMedium.eot");
  src: url("../fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.ttf") format("truetype"), url("../fonts/GothamMedium.otf") format("opentype"), url("../fonts/GothamMedium.svg#HelveticaNeueLTStd-Th") format("svg"); }
@font-face {
  font-family: 'thin';
  src: url("../fonts/GothamThin.eot");
  src: url("../fonts/GothamThin.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamThin.woff") format("woff"), url("../fonts/GothamThin.ttf") format("truetype"), url("../fonts/GothamThin.otf") format("opentype"), url("../fonts/GothamThin.svg#HelveticaNeueLTStd-Th") format("svg"); }
@font-face {
  font-family: 'ultra';
  src: url("../fonts/GothamUltra.eot");
  src: url("../fonts/GothamUltra.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamUltra.woff") format("woff"), url("../fonts/GothamUltra.ttf") format("truetype"), url("../fonts/GothamUltra.otf") format("opentype"), url("../fonts/GothamUltra.svg#HelveticaNeueLTStd-Th") format("svg"); }
.btn {
  background: #25c2f4;
  color: #ffffff;
  border-radius: 2vw;
  font-size: 1.2vw;
  line-height: 2.9vh;
  font-family: 'medium';
  text-transform: uppercase;
  border: none;
  padding: 1.1vh 1.8vw;
  box-shadow: 0px 1px 8px #b3b3b3;
  cursor: pointer;
  position: relative;
  transition-duration: 0.8s; }
  .btn.typ-green {
    background: #33e62a; }
  .btn:hover {
    transform: scale(1.2); }
  .btn.anniPulse {
    box-shadow: 0 0 0 0 rgba(145, 243, 140, 0.2);
    -webkit-animation: pulse 2s infinite; }
    .btn.anniPulse:hover {
      -webkit-animation: none;
      transform: scale(1); }

@media screen and (max-width: 768px) {
  .btn {
    font-size: 4vw;
    line-height: 6vh;
    padding: 0vh 9vw; } }
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(145, 243, 140, 0); }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(145, 243, 140, 0); } }
.form-wrap {
  width: 28vw;
  margin: 3vh auto; }
  .form-wrap .form-group {
    margin-bottom: 2vh; }
    .form-wrap .form-group .form-control {
      background: #ffffff;
      width: 100%;
      border: none;
      padding: 0.8vw;
      border-radius: 0.6vw;
      font-size: 1vw;
      color: #000000;
      font-family: 'book';
      resize: none; }
      .form-wrap .form-group .form-control:focus {
        outline: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000000;
  font-family: 'book'; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
  font-family: 'book'; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
  font-family: 'book'; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
  font-family: 'book'; }

/* ----------------------------------------------------------- common end -------------------------------------------------------*/
/* ----------------------------------------------------------- base start -------------------------------------------------------*/
.bs-header {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 5vh; }
  .bs-header .logo {
    width: 5vw;
    display: inline-block; }
    .bs-header .logo .normal {
      display: block; }
    .bs-header .logo .clr {
      display: none; }
    .bs-header .logo img {
      width: 100%; }
  .bs-header .nav {
    position: absolute;
    right: 23%;
    left: 32%;
    top: 23%; }
    .bs-header .nav .list .item {
      display: inline-block;
      margin: 0 1.5vw; }
      .bs-header .nav .list .item a {
        font-size: 1.5vw;
        line-height: 120%;
        transition: all .5s ease-in; }
      .bs-header .nav .list .item.active {
        font-family: 'medium'; }
        .bs-header .nav .list .item.active:after {
          content: "";
          height: 1px;
          width: 90%;
          background: #ffffff;
          display: block;
          margin: 0.3vh auto 0; }
  .bs-header .act-wrap {
    display: inline-block;
    float: right;
    position: relative;
    top: 1.5vh; }

.fp-viewing-billme .bs-header .logo .normal,
.fp-viewing-team .bs-header .logo .normal,
.fp-viewing-vendor-1 .bs-header .logo .normal {
  display: none; }
.fp-viewing-billme .bs-header .logo .clr,
.fp-viewing-team .bs-header .logo .clr,
.fp-viewing-vendor-1 .bs-header .logo .clr {
  display: block; }
.fp-viewing-billme .bs-header .nav,
.fp-viewing-team .bs-header .nav,
.fp-viewing-vendor-1 .bs-header .nav {
  color: #000000; }
  .fp-viewing-billme .bs-header .nav .list .item a,
  .fp-viewing-team .bs-header .nav .list .item a,
  .fp-viewing-vendor-1 .bs-header .nav .list .item a {
    color: #000000; }
  .fp-viewing-billme .bs-header .nav .list .item.active:after,
  .fp-viewing-team .bs-header .nav .list .item.active:after,
  .fp-viewing-vendor-1 .bs-header .nav .list .item.active:after {
    content: "";
    background: #000000; }

@media only screen and (max-width: 768px) {
  .bs-header {
    top: 0;
    padding-top: 0.8vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10; }
    .bs-header .logo {
      padding: 0vw;
      width: 10vw;
      position: relative;
      z-index: 4; }
    .bs-header .nav {
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
      transition: all .8s ease-in; }
      .bs-header .nav .menu-btn {
        position: absolute;
        right: 5vw;
        top: 2.6vh;
        z-index: 4; }
        .bs-header .nav .menu-btn span {
          height: 2px;
          display: block;
          margin-bottom: 5px;
          border-radius: 1px;
          background: #fff;
          transition: all .3s ease-in; }
          .bs-header .nav .menu-btn span:nth-child(1) {
            width: 4.693vw; }
          .bs-header .nav .menu-btn span:nth-child(2) {
            width: 6.4vw; }
          .bs-header .nav .menu-btn span:nth-child(3) {
            width: 4.17vw; }
      .bs-header .nav .list {
        transition: all .4s ease-in;
        position: absolute;
        right: -100%;
        left: 100%;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 3;
        padding-top: 50%; }
        .bs-header .nav .list .item {
          display: block;
          margin-bottom: 4vh;
          padding-left: 20vw;
          font-family: 'medium';
          position: relative;
          transition: all 0.5s ease; }
          .bs-header .nav .list .item a {
            font-size: 8vw;
            text-align: left;
            display: block;
            text-transform: uppercase; }
          .bs-header .nav .list .item:after {
            content: '';
            position: absolute;
            left: 0;
            top: 45%;
            transform: translateY(-50%);
            width: 0vw;
            height: 3px;
            transition: all 0.5s ease; }
          .bs-header .nav .list .item.active a {
            font-size: 10vw; }
          .bs-header .nav .list .item.active:after {
            width: 15vw;
            height: 3px;
            top: 42%; }
          .bs-header .nav .list .item.active, .bs-header .nav .list .item:focus {
            transform: translateX(-3vw); }
      .bs-header .nav.active {
        position: fixed; }
        .bs-header .nav.active .menu-btn {
          top: 2.6vh;
          right: 6vw; }
          .bs-header .nav.active .menu-btn span {
            transition: all 0.3s ease-in; }
            .bs-header .nav.active .menu-btn span:nth-child(1) {
              transform: rotate(45deg);
              position: relative;
              top: 7px;
              width: 4.693vw; }
            .bs-header .nav.active .menu-btn span:nth-child(2) {
              display: none; }
            .bs-header .nav.active .menu-btn span:nth-child(3) {
              transform: rotate(135deg);
              top: 3px;
              width: 4.693vw; }
        .bs-header .nav.active .list {
          right: 0%;
          left: 0; }
    .bs-header .act-wrap {
      position: fixed;
      right: 3vw;
      bottom: 12vw;
      top: auto;
      border-radius: 50%;
      overflow: hidden;
      z-index: 2; }
      .bs-header .act-wrap .btn {
        background: url(../img/call.svg) no-repeat center center #25c2f4;
        text-indent: -99999px;
        width: 6vh;
        height: 6vh;
        background-size: 52%;
        padding: 0; }

  .fp-viewing-billme .bs-header .nav,
  .fp-viewing-team .bs-header .nav,
  .fp-viewing-vendor-1 .bs-header .nav {
    color: #ffffff; }
    .fp-viewing-billme .bs-header .nav .list .item a,
    .fp-viewing-team .bs-header .nav .list .item a,
    .fp-viewing-vendor-1 .bs-header .nav .list .item a {
      color: #ffffff; }
    .fp-viewing-billme .bs-header .nav .list .item.active:after,
    .fp-viewing-team .bs-header .nav .list .item.active:after,
    .fp-viewing-vendor-1 .bs-header .nav .list .item.active:after {
      content: "";
      background: #ffffff; } }
.bs-sec1 {
  background: url(../img/bg.jpg) no-repeat 0 0;
  background-size: cover; }

.bs-sec4 .bs-sec4a {
  background: url(../img/bg3.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative; }
.bs-sec4 .bs-sec4b {
  background: #ffffff; }
  .bs-sec4 .bs-sec4b .fp-controlArrow.fp-prev {
    border-color: transparent #4f68ed transparent transparent; }
  .bs-sec4 .bs-sec4b .fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #4f68ed; }
.bs-sec4 .fp-controlArrow {
  display: none; }
  .bs-sec4 .fp-controlArrow.fp-next {
    border-width: 10px 0 10px 12px; }
  .bs-sec4 .fp-controlArrow.fp-prev {
    border-width: 10px 12px 10px 0; }
.bs-sec4 .fp-slidesNav {
  left: 49% !important;
  transform: translate3d(-50%, 0, 0); }

.bs-sec5 {
  background: url(../img/bg2.png) no-repeat 0 0;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .section {
    width: 100%;
    display: block;
    height: auto;
    position: relative; }

  .bs-sec1 {
    background-size: 213% 117%; }

  .bs-sec4b .bs-billme {
    margin-top: 0; } }
@media only screen and (min-width: 1920px) {
  .bs-sec4 .fp-slidesNav {
    left: 48.5% !important; } }
.bs-landing {
  color: #ffffff; }
  .bs-landing .lhs {
    width: 50%;
    float: left;
    height: 50vh; }
    .bs-landing .lhs .title {
      font-size: 2.04375vw;
      font-family: 'medium'; }
    .bs-landing .lhs .subtitle {
      font-family: 'light';
      font-size: 2.04375vw;
      margin: 0 0 9vh 0; }
      .bs-landing .lhs .subtitle:after {
        content: '';
        width: 6vw;
        height: 0.6vh;
        background: #33e52c;
        display: block;
        position: relative;
        top: 4vh; }
    .bs-landing .lhs .act-btn.typ-mobile {
      margin: 0 0 10vh 0; }
      .bs-landing .lhs .act-btn.typ-mobile .btn {
        padding: 0;
        box-shadow: none;
        margin: 0 1vw 0 0;
        background: rgba(0, 0, 0, 0.1);
        display: inline-block;
        width: 3.8vw;
        height: 3.8vw;
        border-radius: 8px;
        text-align: center; }
        .bs-landing .lhs .act-btn.typ-mobile .btn img {
          width: 1.7vw;
          margin-top: 1.6vh; }
    .bs-landing .lhs .note {
      font-size: 1.575vw;
      margin: 0 0 2vh 0;
      display: block; }
  .bs-landing .rhs {
    width: 50%;
    float: left;
    height: 50vh;
    position: relative; }
    .bs-landing .rhs img {
      width: 20vw;
      position: absolute; }
    .bs-landing .rhs .graphic1 {
      width: 40vw;
      bottom: -9vh;
      left: 2vw;
      z-index: 1; }
    .bs-landing .rhs .graphic2 {
      width: 17vw;
      left: 14vw;
      bottom: -7.4vh;
      z-index: 4; }
    .bs-landing .rhs .graphic3 {
      width: 21.3vw;
      left: 0.7vw;
      z-index: 2;
      bottom: -3.4vw; }
    .bs-landing .rhs .graphic4 {
      width: 22.8vw;
      left: 22.2vw;
      z-index: 2;
      bottom: -14.1vh; }

@media only screen and (max-width: 768px) {
  .bs-landing {
    padding-top: 29.6vh;
    height: 70vh;
    overflow: hidden; }
    .bs-landing .lhs,
    .bs-landing .rhs {
      width: 100%;
      float: none;
      height: auto; }
    .bs-landing .lhs {
      position: relative;
      z-index: 3;
      margin-top: 10vh; }
      .bs-landing .lhs .title {
        font-size: 5vw; }
      .bs-landing .lhs .subtitle {
        font-size: 5vw;
        margin: 0 0 8vh 0; }
      .bs-landing .lhs .act-btn.typ-mobile {
        margin: 0 0 3vh 0; }
        .bs-landing .lhs .act-btn.typ-mobile .btn {
          width: 15vw;
          height: 15vw;
          margin: 0 1vh 5vh 0; }
          .bs-landing .lhs .act-btn.typ-mobile .btn img {
            width: 6.5vw;
            margin-top: 2.4vh; }
      .bs-landing .lhs .note {
        font-size: 5vw;
        margin: 0 0 3vh 0; }
        .bs-landing .lhs .note span {
          display: block; }
    .bs-landing .rhs {
      position: absolute;
      left: 43vw;
      opacity: 0.2;
      z-index: 0;
      top: 45vh;
      transform: rotate(-49deg); }
      .bs-landing .rhs .graphic1 {
        width: 77vw; }
      .bs-landing .rhs .graphic2 {
        width: 42vw;
        left: 14.8vw;
        bottom: -7.4vh; }
      .bs-landing .rhs .graphic3 {
        width: 50.3vw;
        left: -13.2vw;
        bottom: -8.4vw; }
      .bs-landing .rhs .graphic4 {
        width: 52.8vw;
        left: 35.8vw;
        bottom: -10.1vh; } }
.bs-billme {
  top: 25vh;
  position: absolute; }
  .bs-billme:after {
    content: '';
    background: url(../img/lines.png) no-repeat 7.8vw 0.6vh transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: 81%; }
  .bs-billme .mod-desc {
    width: 50%;
    float: left;
    height: 36vh;
    margin: 0; }
    .bs-billme .mod-desc .desc {
      overflow: hidden;
      padding: 0 7vw 0 2vw;
      position: relative;
      top: 50%;
      transform: translateY(-80%); }
  .bs-billme .center-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translateY(-73%) translateX(-54%);
    width: 14vw;
    height: 14vw;
    z-index: 5; }
    .bs-billme .center-img img {
      width: 100%; }
  .bs-billme .cm-container {
    overflow: hidden; }

@media only screen and (max-width: 768px) {
  .bs-billme {
    position: relative;
    top: auto;
    margin-top: 8vh; }
    .bs-billme .mod-desc {
      width: 100%;
      height: auto;
      display: inline-block;
      float: none;
      vertical-align: middle;
      margin: 2vh 0;
      min-height: 15vh;
      z-index: 2; }
      .bs-billme .mod-desc .img-wrap {
        display: inline-block;
        width: 29vw;
        vertical-align: middle;
        float: none; }
      .bs-billme .mod-desc .desc {
        display: inline-block;
        padding: 0 7vw 0 2vw;
        position: relative;
        top: -2vh;
        transform: initial;
        vertical-align: middle;
        width: 54%; }
        .bs-billme .mod-desc .desc .title {
          font-size: 5vw; }
        .bs-billme .mod-desc .desc p {
          font-size: 4vw; }
      .bs-billme .mod-desc.reverse .desc {
        text-align: right;
        top: 1vh; }
      .bs-billme .mod-desc .text-icon {
        width: auto; }
        .bs-billme .mod-desc .text-icon .item.reverse .title {
          position: relative;
          bottom: auto;
          margin-bottom: 3vh; }
    .bs-billme .center-img {
      left: auto;
      right: -2vw;
      width: 80vw;
      transform: none;
      bottom: -15vh;
      z-index: 0; }
      .bs-billme .center-img img {
        width: 100%; } }
.bs-team {
  text-align: center;
  margin-top: 0vh; }
  .bs-team .title {
    font-size: 1.9vw;
    line-height: 2vw;
    margin-bottom: 8vh;
    font-family: 'medium';
    color: #000000; }
  .bs-team .mail {
    font-size: 1.9vw;
    line-height: 2vw;
    font-family: 'light';
    margin-bottom: 5vh;
    display: block; }
  .bs-team p {
    width: 56vw;
    margin: 0 auto;
    font-size: 1.40625vw;
    line-height: 1.6vw;
    font-family: 'light';
    opacity: 0.6; }
  .bs-team.fromwrap .title {
    color: #ffffff; }
  .bs-team.fromwrap .error-cont {
    color: #ffffff; }
  .bs-team.fromwrap .msgShowing {
    color: #ffffff; }

@media only screen and (max-width: 768px) {
  .bs-team {
    margin-top: 0vh; }
    .bs-team .title {
      margin-top: 2vh;
      font-size: 4.9vw;
      line-height: 5vw;
      margin-bottom: 1vh; }
    .bs-team p {
      width: 90vw;
      font-size: 4vw;
      line-height: 5vw;
      display: none; }
    .bs-team.fromwrap .title {
      font-size: 8vw;
      line-height: 10vw; }
    .bs-team.fromwrap .mail {
      font-size: 6vw;
      line-height: 8vw;
      margin-bottom: 2vh; }
    .bs-team.fromwrap .form-wrap {
      width: 100%; }
      .bs-team.fromwrap .form-wrap .form-group .form-control {
        font-size: 4vw;
        line-height: 6vw;
        padding: 2vw 0;
        text-indent: 4vw; }
    .bs-team.fromwrap .error-cont {
      font-size: 4.5vw;
      line-height: 1.2; }
    .bs-team.fromwrap .msgShowing {
      margin-top: 2vh; } }
.bs-vendor {
  position: absolute;
  top: 20vh;
  right: 10vw;
  bottom: 20vh;
  left: 10vw; }
  .bs-vendor .title {
    font-size: 3.5vh;
    line-height: 3.7vh;
    color: #ffffff;
    font-family: 'light';
    position: absolute; }
    .bs-vendor .title span {
      display: block; }
      .bs-vendor .title span.cm-bold {
        text-transform: uppercase; }
    .bs-vendor .title.text1 {
      top: 0;
      left: 0; }
    .bs-vendor .title.text2 {
      bottom: 0;
      left: 20vw; }
  .bs-vendor .graphic {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .bs-vendor .graphic .line,
    .bs-vendor .graphic .graphic1,
    .bs-vendor .graphic .graphic2,
    .bs-vendor .graphic .graphic3 {
      position: absolute; }
    .bs-vendor .graphic .line {
      width: 65vw;
      margin: 0 auto;
      right: 0;
      left: -5.1vw;
      top: 50%;
      transform: translateY(-50%); }
      .bs-vendor .graphic .line img {
        width: 100%; }
    .bs-vendor .graphic .graphic1 {
      top: 16vh;
      left: 0; }
      .bs-vendor .graphic .graphic1 img {
        width: 17vw; }
    .bs-vendor .graphic .graphic2 {
      top: 11vh;
      left: 35vw; }
      .bs-vendor .graphic .graphic2 img {
        width: 14vw; }
    .bs-vendor .graphic .graphic3 {
      top: 11vh;
      left: auto;
      right: 0; }
      .bs-vendor .graphic .graphic3 img {
        width: 10.8vw; }
  .bs-vendor .graphicGif {
    position: absolute;
    top: -24vh;
    left: -7vw; }
    .bs-vendor .graphicGif img {
      width: 88vw; }

@media only screen and (max-width: 768px) {
  .bs-vendor {
    right: 5vh;
    left: 5vh;
    top: 10vh;
    bottom: 10vh; }
    .bs-vendor .title {
      font-size: 2.8vh; }
      .bs-vendor .title.text2 {
        left: 0; }
      .bs-vendor .title span:nth-child(2) {
        font-size: 2.5vh;
        line-height: 1.3; }
    .bs-vendor .graphic {
      overflow: inherit; }
      .bs-vendor .graphic .line {
        transform: rotate(43deg);
        width: 81vw; }
      .bs-vendor .graphic .graphic1 {
        top: 11vh;
        left: -2vw; }
        .bs-vendor .graphic .graphic1 img {
          width: 28vw; }
      .bs-vendor .graphic .graphic2 {
        top: 34vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center; }
        .bs-vendor .graphic .graphic2 img {
          width: 25vw; }
      .bs-vendor .graphic .graphic3 {
        top: auto;
        bottom: 12vh;
        right: -1vh; }
        .bs-vendor .graphic .graphic3 img {
          width: 21vw; } }
@media screen and (max-width: 1920px) and (min-width: 1680px) {
  .bs-vendor .graphic .graphic3 {
    right: 1.2vw; }
    .bs-vendor .graphic .graphic3 img {
      width: 10.8vw;
      width: 9vw; } }
.bs-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  transition: all .3s ease-in;
  transform: scale(0);
  opacity: 0; }
  .bs-popup.active {
    transform: scale(1);
    opacity: 1; }
  .bs-popup:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .bs-popup .popup-wrap {
    position: absolute;
    z-index: 2;
    width: 50vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 1px 3px 20px #4e4e4e;
    background: #ffffff; }
    .bs-popup .popup-wrap .head {
      display: block;
      border-bottom: 1px solid #cccccc;
      padding: 2vh;
      text-align: center;
      position: relative; }
      .bs-popup .popup-wrap .head .title {
        font-size: 3.5vh;
        line-height: 3.8vh;
        font-family: 'medium'; }
      .bs-popup .popup-wrap .head .close-btn {
        background: url(../img/close.png) no-repeat 0 0 transparent;
        width: 1.4vw;
        height: 1.4vw;
        display: block;
        position: absolute;
        right: 2.1vh;
        top: 1.4vw;
        background-size: contain; }
    .bs-popup .popup-wrap .cont {
      padding: 5vh; }
      .bs-popup .popup-wrap .cont .join-us-wrap .sec {
        margin-bottom: 3vh;
        display: inline-block;
        width: 100%;
        vertical-align: middle; }
      .bs-popup .popup-wrap .cont .join-us-wrap.last {
        margin-bottom: 0; }
      .bs-popup .popup-wrap .cont .join-us-wrap .labels {
        display: inline-block;
        width: 38%;
        color: #000000;
        font-family: 'light';
        font-size: 2.5vh;
        line-height: 3.3vh;
        border-right: 3px solid #33e52c;
        vertical-align: middle; }
        .bs-popup .popup-wrap .cont .join-us-wrap .labels span {
          display: block; }
          .bs-popup .popup-wrap .cont .join-us-wrap .labels span.big {
            font-family: 'medium';
            text-transform: uppercase;
            font-size: 3vh;
            line-height: 3.8vh; }
      .bs-popup .popup-wrap .cont .join-us-wrap .actions {
        display: inline-block;
        vertical-align: middle;
        width: 60%; }
        .bs-popup .popup-wrap .cont .join-us-wrap .actions .form-wrap {
          width: 20vw; }
        .bs-popup .popup-wrap .cont .join-us-wrap .actions .act-link {
          margin: 0 auto;
          width: 20vw; }
          .bs-popup .popup-wrap .cont .join-us-wrap .actions .act-link .android,
          .bs-popup .popup-wrap .cont .join-us-wrap .actions .act-link .ios {
            margin: 0 1vw;
            background: #000000;
            display: inline-block;
            width: 3.8vw;
            height: 3.8vw;
            border-radius: 8px;
            text-align: center; }
            .bs-popup .popup-wrap .cont .join-us-wrap .actions .act-link .android img,
            .bs-popup .popup-wrap .cont .join-us-wrap .actions .act-link .ios img {
              margin-top: 1.4vh;
              width: 58%; }
        .bs-popup .popup-wrap .cont .join-us-wrap .actions .form-wrap .form-group .form-control {
          background: #f2f2f2; }
    .bs-popup .popup-wrap .act-wrap {
      text-align: center; }
    .bs-popup .popup-wrap.lg {
      width: 80vw;
      height: 90vh; }
  .bs-popup .static-cont {
    overflow: auto;
    height: 75vh; }
    .bs-popup .static-cont p {
      margin-bottom: 3vh; }
    .bs-popup .static-cont .title {
      font-size: 20px;
      font-family: 'bold';
      margin: 6vh 0 2vh; }
    .bs-popup .static-cont label {
      font-family: 'medium';
      font-size: 14px;
      margin-bottom: 2vh;
      display: block; }
    .bs-popup .static-cont .lvl1 .item {
      position: relative;
      font-family: 'light';
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2vh;
      display: block;
      padding-left: 20px; }
      .bs-popup .static-cont .lvl1 .item:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background: #000000;
        display: block;
        left: 0;
        top: 9px;
        border-radius: 50%; }
      .bs-popup .static-cont .lvl1 .item .lvl2 {
        margin: 2vh 0 6vh; }
        .bs-popup .static-cont .lvl1 .item .lvl2 .item {
          color: #4e4e4e; }
          .bs-popup .static-cont .lvl1 .item .lvl2 .item:before {
            content: '';
            background: #b9b9b9; }
  .bs-popup.joinUsPopup .popup-wrap {
    height: 59vh; }
  .bs-popup.joinUsPopup .join-us-wrap {
    position: relative; }
    .bs-popup.joinUsPopup .join-us-wrap .act-wrap {
      position: absolute;
      left: 0;
      right: 0; }

@media only screen and (max-width: 768px) {
  .bs-popup .popup-wrap {
    width: 90vw;
    height: 90vh; }
    .bs-popup .popup-wrap .head .close-btn {
      width: 4vw;
      height: 4vw;
      right: 2.1vh;
      top: 4.8vw; }
    .bs-popup .popup-wrap .cont {
      padding: 5vh 2vh; }
      .bs-popup .popup-wrap .cont .join-us-wrap {
        text-align: center; }
        .bs-popup .popup-wrap .cont .join-us-wrap .sec {
          margin-bottom: 5vh; }
          .bs-popup .popup-wrap .cont .join-us-wrap .sec .labels {
            width: 100%;
            border: none; }
          .bs-popup .popup-wrap .cont .join-us-wrap .sec .actions .act-link {
            width: 100%;
            margin-top: 2vh; }
            .bs-popup .popup-wrap .cont .join-us-wrap .sec .actions .act-link a {
              margin: 0 1vw;
              background: #000000;
              display: inline-block;
              width: 14vw;
              height: 14vw;
              border-radius: 8px;
              text-align: center; }
            .bs-popup .popup-wrap .cont .join-us-wrap .sec .actions .act-link .ios img {
              margin-top: 1.7vh;
              width: 58%; }
          .bs-popup .popup-wrap .cont .join-us-wrap .sec.last {
            margin-bottom: 0; }
        .bs-popup .popup-wrap .cont .join-us-wrap .actions {
          width: 100%; }
          .bs-popup .popup-wrap .cont .join-us-wrap .actions .form-wrap {
            width: 100%; }
            .bs-popup .popup-wrap .cont .join-us-wrap .actions .form-wrap .form-control {
              font-size: 4vw;
              line-height: 6vw;
              padding: 2vw 0;
              text-indent: 4vw; }
    .bs-popup .popup-wrap.lg {
      width: 95vw;
      height: 90vh; }
    .bs-popup .popup-wrap.typDisclaimer {
      height: 47vh; }
  .bs-popup.joinUsPopup .popup-wrap {
    height: 80vh;
    width: 82vw; } }
.bs-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0.2vh 1vh;
  text-align: center;
  background: #ffffff;
  color: #000000; }
  .bs-footer .copyright {
    font-size: 1.8vh;
    line-height: 4.6vh;
    font-weight: 600;
    position: absolute;
    right: 0;
    left: 0; }
  .bs-footer .rhs {
    float: right;
    position: relative;
    z-index: 3; }
    .bs-footer .rhs ul li {
      float: left;
      margin-right: 2vw; }
      .bs-footer .rhs ul li a {
        color: #000000;
        font-size: 1.8vh;
        line-height: 4.6vh;
        display: inline-block; }
        .bs-footer .rhs ul li a:hover {
          color: red; }

@media only screen and (max-width: 768px) {
  .bs-footer .copyright {
    font-size: 1.6vh;
    line-height: 3.6vh;
    position: relative; }
  .bs-footer .rhs {
    float: none;
    position: absolute;
    z-index: 3;
    width: 55vw;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    top: -4.5vh;
    left: 0;
    right: 0; }
    .bs-footer .rhs ul li {
      float: none;
      display: inline-block; }
      .bs-footer .rhs ul li a {
        color: #ffffff;
        font-weight: 600; } }
@media screen and (max-width: 1920px) and (min-width: 1680px) {
  .bs-footer {
    padding: 0.1vh 1vw; } }
/* ----------------------------------------------------------- base end -------------------------------------------------------*/
/* ----------------------------------------------------------- modules start -------------------------------------------------------*/
.mod-desc {
  width: 50%;
  float: left;
  height: 30vh;
  margin-bottom: 2vh; }
  .mod-desc .img-wrap {
    float: left;
    width: 15vw; }
    .mod-desc .img-wrap img {
      width: 100%; }
    .mod-desc .img-wrap.img2 {
      width: 16.1vw; }
  .mod-desc .desc {
    overflow: hidden;
    padding: 0 7vw 0 2vw; }
    .mod-desc .desc .title {
      font-size: 2.3vw;
      font-family: 'medium';
      line-height: 1;
      margin-bottom: 1vw; }
    .mod-desc .desc p {
      font-size: 1.5vw;
      font-family: 'book'; }
  .mod-desc.reverse {
    position: relative; }
    .mod-desc.reverse .img-wrap {
      position: absolute;
      right: 0; }
    .mod-desc.reverse .desc {
      padding: 0 17vw 0 7vw; }
  .mod-desc .text-icon {
    display: block;
    width: 72%;
    margin: 1vh auto 0; }
    .mod-desc .text-icon .item {
      width: 50%;
      float: left;
      text-align: center;
      position: relative; }
      .mod-desc .text-icon .item .title {
        font-size: 2.8vh;
        line-height: 3vh;
        color: #000000;
        font-family: 'medium';
        margin-bottom: 2vh; }
      .mod-desc .text-icon .item .icon {
        width: 9vw;
        height: 9vw;
        display: block;
        background: #f9f9f9;
        border-radius: 50%;
        margin: 0 auto;
        box-shadow: 1px 3px 7px #cccccc; }
        .mod-desc .text-icon .item .icon img {
          width: 7vh;
          position: relative;
          transform: translateY(-50%);
          top: 50%; }
      .mod-desc .text-icon .item.reverse .title {
        position: absolute;
        bottom: -48px;
        left: 0;
        right: 0; }
  .mod-desc.last {
    padding-top: 14px; }

@media only screen and (max-width: 768px) {
  .mod-desc .img-wrap.img2 {
    width: 29vw; }
  .mod-desc .text-icon .item .icon {
    width: 12vw; }
  .mod-desc .text-icon .item .title span {
    display: block; }
  .mod-desc .text-icon .item.align-top {
    top: 20px; } }
@media only screen and (min-width: 1920px) {
  .mod-desc .text-icon .item.reverse .title {
    bottom: -3.5vw; } }
@media only screen and (max-width: 1024px) {
  .bs-billme:after {
    content: none; } }
@media screen and (max-width: 1920px) and (min-width: 1680px) {
  .mod-team-item img {
    display: block;
    width: 110%; }

  .bs-billme:after {
    background: url(../img/lines.png) no-repeat 8.4vw 3vh transparent;
    background-size: 80%; } }
@media only screen and (min-width: 1918px) and (max-width: 2560px) {
  .bs-billme:after {
    background: url(../img/lines.png) no-repeat 9.5vw 0vh transparent;
    background-size: 80%; } }
@media screen and (max-width: 1680px) and (min-width: 1440px) {
  .mod-desc .text-icon .item.reverse .title {
    bottom: -65px; }

  .bs-billme:after {
    background: url(../img/lines.png) no-repeat 9vw 2.2vh transparent;
    background-size: 81%; } }
@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .bs-billme:after {
    background: url(../img/lines.png) no-repeat 8.9vw 1.3vh transparent;
    background-size: 81%; } }
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .bs-billme:after {
    background: url(../img/lines.png) no-repeat 8.8vw 0.6vh transparent;
    background-size: 81%; } }
.mod-team-item {
  position: relative;
  margin: 0 1vw;
  overflow: hidden;
  height: 46vh;
  border-radius: 2.3vh; }
  .mod-team-item img {
    display: block;
    height: 100%; }
  .mod-team-item .info {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    color: #fff;
    padding: 2vh;
    z-index: 4; }
    .mod-team-item .info .name {
      font-size: 1.25vw;
      line-height: 1.4vw;
      font-family: 'medium'; }
    .mod-team-item .info label {
      font-size: 0.9375vw;
      line-height: 1.2vw;
      font-family: 'book'; }
  .mod-team-item .social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 3;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: all .3s ease-in; }
    .mod-team-item .social-icon .icon {
      position: absolute;
      width: 2vw;
      height: 2vw;
      transform: translateX(-50%);
      top: 41%;
      padding: 1vw;
      background: #000;
      border-radius: 50%; }
  .mod-team-item:hover .social-icon {
    opacity: 1; }

@media only screen and (max-width: 768px) {
  .mod-team-item .social-icon {
    z-index: 5; }
    .mod-team-item .social-icon .icon {
      width: 15vw;
      height: 15vw;
      top: 28%; }
      .mod-team-item .social-icon .icon img {
        margin: 1.9vh auto; } }
/* ----------------------------------------------------------- modules end -------------------------------------------------------*/
/* ----------------------------------------------------------- layout start -------------------------------------------------------*/
.lyt-team {
  margin: 2vw auto 0;
  width: 66vw; }
  .lyt-team ul li {
    width: 33.33%;
    float: left; }

@media only screen and (max-width: 768px) {
  .lyt-team {
    width: 80%; }
    .lyt-team ul {
      overflow: hidden;
      margin-top: 5vh; }
      .lyt-team ul li {
        width: 100%;
        margin-bottom: 1vh;
        margin-top: 1vh; }
        .lyt-team ul li .mod-team-item {
          height: 20vh;
          box-shadow: 0px 0px 11px -2px #999; }
          .lyt-team ul li .mod-team-item img {
            width: 50%;
            height: auto; }
          .lyt-team ul li .mod-team-item .info {
            left: auto;
            width: 50%;
            padding: 0;
            top: 0;
            background: white; }
            .lyt-team ul li .mod-team-item .info .name {
              font-size: 3.6vw;
              line-height: 4.8vw;
              padding: 7.4vh 2vh 0.1vh;
              color: #000; }
            .lyt-team ul li .mod-team-item .info label {
              font-size: 2.6vw;
              line-height: 3.8vw;
              padding: 2vh;
              color: #000; } }
/* ----------------------------------------------------------- layout end -------------------------------------------------------*/
.fp-viewing-home .anniSlideDown {
  opacity: 0;
  -webkit-animation: anniSlideDown 1s 1s normal;
  animation: anniSlideDown 1s 1s normal;
  animation-fill-mode: forwards; }
.fp-viewing-home .anniSlide {
  opacity: 0;
  -webkit-animation: anniSlide 1s normal;
  animation: anniSlide 1s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-home .anniSlide.anniSlide1 {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s; }
  .fp-viewing-home .anniSlide.anniSlide2 {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s; }
  .fp-viewing-home .anniSlide.anniSlide3 {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s; }
  .fp-viewing-home .anniSlide.anniSlide4 {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s; }
  .fp-viewing-home .anniSlide.anniSlide5 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s; }
.fp-viewing-home .anniScale {
  opacity: 0;
  -webkit-animation: anniScale 1s normal;
  animation: anniScale 1s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-home .anniScale.scaleRound {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s; }
  .fp-viewing-home .anniScale.scaleMove1 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    transform-origin: bottom right; }
  .fp-viewing-home .anniScale.scaleMove2 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    transform-origin: bottom left; }
.fp-viewing-home .anniScaleUp {
  opacity: 0;
  -webkit-animation: anniScaleUp 1.4s normal;
  animation: anniScaleUp 1.4s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-home .anniScaleUp.scaleUp {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s; }

.fp-viewing-billme .anniOpac {
  opacity: 0;
  -webkit-animation: anniOpac 1.4s normal;
  animation: anniOpac 1.4s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-billme .anniOpac.anniOpac1 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s; }

.fp-viewing-team .anniSlideDown {
  opacity: 0;
  -webkit-animation: anniSlideDown2 1s normal;
  animation: anniSlideDown2 1s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-team .anniSlideDown.anniSlideDown1 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s; }
  .fp-viewing-team .anniSlideDown.anniSlideDown2 {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s; }
  .fp-viewing-team .anniSlideDown.anniSlideDown3 {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s; }

.fp-viewing-vendor-0 .anniWidth {
  width: 0;
  -webkit-animation: anniWidth 8s normal;
  animation: anniWidth 8s normal;
  animation-fill-mode: forwards; }
.fp-viewing-vendor-0 .anniZoomOut {
  opacity: 0;
  -webkit-animation: anniZoomOut .6s normal;
  animation: anniZoomOut .6s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-vendor-0 .anniZoomOut.anniZoomOut1 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s; }
  .fp-viewing-vendor-0 .anniZoomOut.anniZoomOut2 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s; }
  .fp-viewing-vendor-0 .anniZoomOut.anniZoomOut3 {
    animation-delay: 7s;
    -webkit-animation-delay: 7s; }

.fp-viewing-vendor-1 .anniOpac {
  opacity: 0;
  -webkit-animation: anniOpac 1.4s normal;
  animation: anniOpac 1.4s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-vendor-1 .anniOpac.anniOpac1 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s; }

.fp-viewing-contact .anniScaleUp {
  opacity: 0;
  -webkit-animation: anniScaleUp 1.4s normal;
  animation: anniScaleUp 1.4s normal;
  animation-fill-mode: forwards; }
  .fp-viewing-contact .anniScaleUp.scaleUp1 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s; }
  .fp-viewing-contact .anniScaleUp.scaleUp2 {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s; }
  .fp-viewing-contact .anniScaleUp.scaleUp3 {
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s; }
  .fp-viewing-contact .anniScaleUp.scaleUp4 {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s; }
  .fp-viewing-contact .anniScaleUp.scaleUp5 {
    animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s; }

@media only screen and (max-width: 768px) {
  .bs-billme .anniOpac {
    left: auto;
    right: auto;
    width: 80vw;
    bottom: auto;
    top: 23%;
    z-index: 0;
    opacity: 0.06; }

  .bs-sec4b .anniOpac.anniOpac1 {
    display: none; } }
@keyframes anniSlideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes anniSlideDown2 {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes anniSlide {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes anniScale1 {
  0% {
    transform: scale(0) translateY(-71%) translateX(-65%);
    opacity: 0; }
  100% {
    transform: scale(1) translateY(-71%) translateX(-65%);
    opacity: 1; } }
@keyframes anniScale {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes anniZoomOut {
  0% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes anniScaleUp {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes anniOpac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes anniWidth {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .fp-viewing-billme .anniOpac,
  .fp-viewing-vendor-1 .anniOpac {
    opacity: 0.06;
    -webkit-animation: inherit;
    animation: inherit;
    animation-fill-mode: inherit; } }
/* ----------------------------------------------------------- pg start -------------------------------------------------------*/
.pg-privacyPolicy {
  background: #fff;
  padding: 6vh 10vw; }
  .pg-privacyPolicy .head {
    text-align: center; }
    .pg-privacyPolicy .head .title {
      font-size: 3.5vh;
      line-height: 3.8vh;
      font-family: 'medium';
      margin-bottom: 4vh; }
    .pg-privacyPolicy .head .close-btn {
      background: url(../img/close.png) no-repeat 0 0 transparent;
      width: 1.4vw;
      height: 1.4vw;
      display: block;
      position: absolute;
      right: 2.1vh;
      top: 1.4vw; }
  .pg-privacyPolicy .static-cont {
    overflow: auto;
    height: 80vh; }
    .pg-privacyPolicy .static-cont p {
      margin-bottom: 3vh; }
    .pg-privacyPolicy .static-cont .title {
      font-size: 20px;
      font-family: 'bold';
      margin: 6vh 0 2vh; }
    .pg-privacyPolicy .static-cont label {
      font-family: 'medium';
      font-size: 14px;
      margin-bottom: 2vh;
      display: block; }
    .pg-privacyPolicy .static-cont .lvl1 .item {
      position: relative;
      font-family: 'light';
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2vh;
      display: block;
      padding-left: 20px; }
      .pg-privacyPolicy .static-cont .lvl1 .item:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background: #000000;
        display: block;
        left: 0;
        top: 9px;
        border-radius: 50%; }
      .pg-privacyPolicy .static-cont .lvl1 .item .lvl2 {
        margin: 2vh 0 6vh; }
        .pg-privacyPolicy .static-cont .lvl1 .item .lvl2 .item {
          color: #4e4e4e; }
          .pg-privacyPolicy .static-cont .lvl1 .item .lvl2 .item:before {
            content: '';
            background: #b9b9b9; }

@media only screen and (max-width: 768px) {
  .pg-privacyPolicy {
    padding: 5vh 6vw; }
    .pg-privacyPolicy .static-cont {
      overflow: inherit;
      height: auto; }
    .pg-privacyPolicy .head .close-btn {
      width: 6vw;
      height: 6vw;
      right: 2.1vh;
      top: 5.4vw; } }
/* ----------------------------------------------------------- pg end -------------------------------------------------------*/
/* plugin-override */

/*# sourceMappingURL=custom.css.map */
