//mod-team-item
.mod-team-item {
    position: relative;
    margin: 0 1vw;
    overflow: hidden;
    height: 46vh;
    border-radius: 2.3vh;
    img {
        display: block;
        height: 100%;
    }
    .info {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: left;
        color: #fff;
        padding: 2vh;
        z-index: 4;
        .name {
            font-size: 1.25vw;
            line-height: 1.4vw;
            font-family: 'medium';
        }
        label {
            font-size: 0.9375vw;
            line-height: 1.2vw;
            font-family: 'book';
        }
    }
    .social-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 3;
        background: rgba(255, 255, 255, 0.6);
        opacity: 0;
        transition: all .3s ease-in;
        .icon {
            position: absolute;
            width: 2vw;
            height: 2vw;
            transform: translateX(-50%);
            top: 41%;
            padding: 1vw;
            background: #000;
            border-radius: 50%;
        }
    }
    &:hover {
        .social-icon {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-team-item {
        .social-icon {
            z-index: 5;
            .icon {
                width: 15vw;
                height: 15vw;
                top: 28%;
                img {
                    margin: 1.9vh auto;
                }
            }
        }
    }
}