    //mod-desc
    .mod-desc {
        width: 50%;
        float: left;
        height: 30vh;
        margin-bottom: 2vh;
        .img-wrap {
            float: left;
            width: 15vw;
            img {
                width: 100%;
            }
            &.img2 {
                width: 16.1vw;
            }
        }
        .desc {
            overflow: hidden;
            padding: 0 7vw 0 2vw;
            .title {
                font-size: 2.3vw;
                font-family: 'medium';
                line-height: 1;
                margin-bottom: 1vw;
            }
            p {
                font-size: 1.5vw;
                font-family: 'book';
            }
        }
        &.reverse {
            position: relative;
            .img-wrap {
                position: absolute;
                right: 0;
            }
            .desc {
                padding: 0 17vw 0 7vw;
            }
        }
        .text-icon {
            display: block;
            width: 72%;
            margin: 1vh auto 0;
            .item {
                width: 50%;
                float: left;
                text-align: center;
                position: relative;
                .title {
                    font-size: 2.8vh;
                    line-height: 3vh;
                    color: $clr-base;
                    font-family: 'medium';
                    margin-bottom: 2vh;
                }
                .icon {
                    width: 9vw;
                    height: 9vw;
                    display: block;
                    background: #f9f9f9;
                    border-radius: 50%;
                    margin: 0 auto;
                    box-shadow: 1px 3px 7px #cccccc;
                    img {
                        width: 7vh;
                        position: relative;
                        transform: translateY(-50%);
                        top: 50%;
                    }
                }
                &.reverse {
                    .title {
                        position: absolute;
                        bottom: -48px;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
        &.last {
            padding-top: 14px;
        }
    }
    
    // .bar-right-top {
    //     position: relative;
    //     &:before {
    //         content: "";
    //         width: 1.4vw;
    //         height: 1.4vw;
    //         border-radius: 50%;
    //         display: block;
    //         position: absolute;
    //         background: #bcedfd;
    //         right: 1vw;
    //         top: 0;
    //     }
    //     &:after {
    //         content: "";
    //         width: 1px;
    //         height: 20vh;
    //         display: block;
    //         background: #bcedfd;
    //         position: absolute;
    //         right: 1.7vw;
    //         top: 0;
    //     }
    // }
    // .bar-bot-right {
    //     position: relative;
    //     &:before {
    //         content: "";
    //         width: 1.4vw;
    //         height: 1.4vw;
    //         border-radius: 50%;
    //         display: block;
    //         position: absolute;
    //         background: #bcedfd;
    //         right: 0.6vw;
    //         bottom: 3.1vh;
    //     }
    //     &:after {
    //         content: "";
    //         width: 41vw;
    //         height: 1px;
    //         display: block;
    //         background: #bcedfd;
    //         position: absolute;
    //         right: 2vw;
    //         bottom: 29.1px;
    //     }
    // }
    // .bar-left-top {
    //     position: relative;
    //     &:before {
    //         content: "";
    //         width: 1.4vw;
    //         height: 1.4vw;
    //         border-radius: 50%;
    //         display: block;
    //         position: absolute;
    //         background: #bcedfd;
    //         left: 0;
    //         top: -6vh;
    //     }
    //     &:after {
    //         content: "";
    //         width: 39.5vw;
    //         height: 1px;
    //         display: block;
    //         background: #bcedfd;
    //         position: absolute;
    //         left: 0;
    //         top: -4.6vh;
    //     }
    // }
    // .bar-left-bot {
    //     position: relative;
    //     &:before {
    //         content: "";
    //         width: 1.4vw;
    //         height: 1.4vw;
    //         border-radius: 50%;
    //         display: block;
    //         position: absolute;
    //         background: #bcedfd;
    //         left: -2.4vw;
    //         bottom: 7.7vh;
    //     }
    //     &:after {
    //         content: "";
    //         width: 1px;
    //         height: 10.5vw;
    //         display: block;
    //         background: #bcedfd;
    //         position: absolute;
    //         left: -1.8vw;
    //         bottom: 8.6vh;
    //     }
    // }
    @media only screen and (max-width: $mobile-breakpoint) {
        // .bar-right-top,
        // .bar-bot-right,
        // .bar-left-top,
        // .bar-left-bot {
        //     &:before,
        //     &:after {
        //         display: none;
        //     }
        // }
        .mod-desc {
            .img-wrap {
                &.img2 {
                    width: 29vw;
                }
            }
            .text-icon {
                .item {
                    .icon {
                        width: 12vw;
                    }
                    .title {
                        span {
                            display: block;
                        }
                    }
                    &.align-top {
                        top: 20px;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: $xl-breakpoint) {
        // .bar-right-top:after {
        //     right: 22px;
        //     top: 2px;
        // }
        // .bar-left-bot {
        //     &:after {
        //         left: -1.7vw;
        //         bottom: 9.6vh;
        //     }
        // }
        // .bar-bot-right {
        //     &:after {
        //         bottom: 2.2vw;
        //     }
        // }
        .mod-desc {
            .text-icon {
                .item {
                    &.reverse {
                        .title {
                            bottom: -3.5vw;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: $sm-breakpoint) {
        // .bar-bot-right {
        //     &:after {
        //         bottom: 20.1px;
        //     }
        //     &:before {
        //         bottom: 2.7vh;
        //     }
        // }
        .bs-billme:after {
            content: none;
        }
    }
    
    @media screen and (max-width: $xl-breakpoint) and (min-width: $md3-breakpoint) {
        // .bar-right-top:after {
        //     right: 31px;
        //     top: 6px;
        // }
        // .bar-left-bot:after {
        //     left: -1.7vw;
        //     bottom: 10.7vh;
        // }
        // .bar-left-bot:before {
        //     bottom: 8.1vh;
        // }
        // .bar-left-top:after {
        //     left: 7px;
        // }
        .mod-team-item img {
            display: block;
            width: 110%;
        }
        .bs-billme:after {
            background: url(../img/lines.png) no-repeat 8.4vw 3vh transparent;
            background-size: 80%;
        }
    }
    
    @media only screen and (min-width: 1918px) and (max-width: 2560px) {
        .bs-billme:after {
            background: url(../img/lines.png) no-repeat 9.5vw 0vh transparent;
            background-size: 80%;
        }
    }
    
    @media screen and (max-width: $md3-breakpoint) and (min-width: $md2-breakpoint) {
        // .bar-right-top:after {
        //     top: 11px;
        // }
        // .bar-bot-right:after {
        //     bottom: 37.1px;
        // }
        // .bar-left-bot:after {
        //     content: "";
        //     height: 11.3vw;
        //     bottom: 10.5vh;
        // }
        .mod-desc .text-icon .item.reverse .title {
            bottom: -65px;
        }
        .bs-billme:after {
            background: url(../img/lines.png) no-repeat 9vw 2.2vh transparent;
            background-size: 81%;
        }
    }
    
    @media screen and (max-width: $md2-breakpoint) and (min-width: $md-breakpoint) {
        // .bar-right-top {
        //     &:after {
        //         top: 1.6vh;
        //         right: 3.1vh;
        //     }
        // }
        // .bar-left-bot {
        //     &:after {
        //         bottom: 11.3vh;
        //     }
        //     &:before {
        //         bottom: 8.7vh;
        //     }
        // }
        .bs-billme:after {
            background: url(../img/lines.png) no-repeat 8.9vw 1.3vh transparent;
            background-size: 81%;
        }
    }
    
    @media screen and (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) {
        // .bar-right-top:after {
        //     right: 3.5vh;
        //     top: 1vh;
        // }
        // .bar-right-top:before {
        //     right: 1.1vw;
        //     top: 0;
        // }
        // .bar-left-bot {
        //     &:after {
        //         bottom: 10.6vh;
        //     }
        // }
        .bs-billme:after {
            background: url(../img/lines.png) no-repeat 8.8vw 0.6vh transparent;
            background-size: 81%;
        }
    }