//lyt-team
.lyt-team {
    margin: 2vw auto 0;
    width: 66vw;
    ul {
        li {
            width: 33.33%;
            float: left;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-team {
        width: 80%;
        ul {
            overflow: hidden;
            margin-top: 5vh;
            li {
                width: 100%;
                margin-bottom: 1vh;
                margin-top: 1vh;
                .mod-team-item {
                    height: 20vh;
                    box-shadow: 0px 0px 11px -2px #999;
                    img {
                        width: 50%;
                        height: auto;
                    }
                    .info {
                        left: auto;
                        width: 50%;
                        padding: 0;
                        top: 0;
                        background: white;
                        .name {
                            font-size: 3.6vw;
                            line-height: 4.8vw;
                            padding: 7.4vh 2vh 0.1vh;
                            color: #000;
                        }
                        label {
                            font-size: 2.6vw;
                            line-height: 3.8vw;
                            padding: 2vh;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}