/* element.scss */

body {
    background: $clr-root;
    font-size: 16px;
    color: $clr-base;
    font-family: 'light';
    overflow-x: hidden;
    position: relative;
}

p {
    line-height: 1.2;
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active {
    color: $clr-root;
    text-decoration: none;
    outline: none;
}

button {
    &:focus,
    &:active {
        outline: none;
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:$mobile-breakpoint) {}